@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reseta margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para a página */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Cabeçalho */
.header {
    text-align: center;
    color: white;
    padding: 50px 20px;
    background-image: url('/images/fundoheader.png'); 
    background-size: cover; 
    background-position: center; 
    position: relative;
    height: 400px;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: "Luckiest Guy";
}

.header p {
    max-width: 500px;
    margin: 0 auto 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header button {
    background: #7289da;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.header button:hover {
    background: #5b6bbf;
}

/* Seção */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 auto;
    width: 90%;
}

.section .content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.section .image {
    max-width: 100%;
    height: auto;
    width: 300px;
    border-radius: 10px;
}

.section .text {
    max-width: 500px;
}

.section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Luckiest Guy";
}

.section p {
    font-size: 1em;
    color: #555;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #36393f;
}

.footer img {
    max-width: 100px;
    height: auto;
}

/* Responsivo */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.8em;
    }

    .header p {
        font-size: 0.9em;
    }

    .section {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .section .image {
        width: 100%;
        max-width: 300px;
    }

    .section .text {
        max-width: 100%;
    }
}
